{% extends "student_base.html" %}
{% load static %}
{% block title %}search index{% endblock %}

{% block content %}
  <div class="row">

           <div class="col-lg-8">
            <div class="card">
               <div class="card-header">
                    <h1 class="fs-1 ">databases </h1>
                  </div>
                <div class="card-body">
                                       <div class="media">
                     <img class="mr-3" src="{% static 'assets/img/logo.png' %}" width="200px" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="mt-0 text-info"></h5>
           <p>Veritas University Repository is a digital archive that collects, preserves, and disseminates
                       the intellectual output of Veritas University, including theses, dissertations, and research papers.</p>
                        </div>
                                       </div>



                </div>
            </div>

               <!-- ASK A LIBARIAN CHATBOT -->

        </div>
      </div>




{% endblock %}