# Environment variables
.env

# Python bytecode
*.pyc
__pycache__/


media/config
# SQLite database
db.sqlite3

# Logs
*.log

git add -f knowrizon/media/config/service_account_API.json
git commit -m "Force add service account file"
git push heroku main



# IDE-specific files
.vscode/
.idea/

.vercel
