

{% load static %}

<!--- COUNTER VIZ.  -->

<!--- welcome message for admin-->

<!--- welcome message for admin-->


  <div class="col-12 col-sm-6 col-lg-6">
                <div class="card" id="mycard-dimiss">
                  <div class="card-header">
                    <h4>Hi, welcome back!</h4>
                    <div class="card-header-action">
                      <a data-dismiss="#mycard-dimiss" class="btn btn-icon btn-secondary" href="#"><i
                          class="fas fa-times"></i></a>
                    </div>
                  </div>
                  <div class="card-body">
                     <div class="welcome-message">
              <h2> {{ admin_name }}</h2>
              <p>Here's what's happening with your Vunaweb plus today.</p>
            </div>
                  </div>
                </div>

            </div>
<!--- welcome message for admin ends-->

   <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15">TOTAL USERS </h5>
                    <h2 class="mb-3 font-18">10</h2>
                    <p class="mb-0"><span class="col-green">10%</span> Increase</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/users.webp' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15"> TOTAL BOOKS </h5>
                    <h2 class="mb-3 font-18">5</h2>
                    <p class="mb-0"><span class="col-orange">09%</span> Decrease</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/books.avif' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15">RESEARCH PAPERS</h5>
                    <h2 class="mb-3 font-18">8</h2>
                    <p class="mb-0"><span class="col-green">18%</span> Increase</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/journals.webp' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15">BORROWINGS </h5>
                    <h2 class="mb-3 font-18">10</h2>
                    <p class="mb-0"><span class="col-green">42%</span> Increase</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/borrow.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--COUNTER VIZ. END   -->

<!-- USAGE CHART VIZ.  -->



<!-- CHART 2 VIZ.  -->
  <div class="row sortable-card">
              <div class="col-12 col-md-6 col-lg-3">
                <div class="card card-primary">
                  <div class="card-header">
                    <h4> video/Audiobooks</h4>
                  </div>
                  <div class="card-body">
                          <!--brief desc of format -->
                    <p>Upload Audiobooks  </p>

                  <a href="{% url 'upload_audio_books' %}" class="btn btn-primary">Upload Audiobooks</a>

                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="card card-secondary">
                  <div class="card-header">
                    <h4>  journals/publications </h4>
                  </div>
                  <div class="card-body">
                    <p>Upload journals/publications</p>
                    <a href="{% url 'upload_journal_books' %}" class="btn btn-secondary">Upload journals/publications</a>

                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="card card-danger">
                  <div class="card-header">
                    <h4> PDF books </h4>
                  </div>
                  <div class="card-body">
                    <p>Upload PDF books</p>
                    <a href="{% url 'upload_pdf_books' %}" class="btn btn-danger">Upload PDF books</a>

                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="card card-warning">
                  <div class="card-header">
                    <h4>open databases </h4>
                  </div>
                  <div class="card-body">
                    <p>Upload  content</p>
                    <a href="{% url 'add_material_databases' %}" class="btn btn-warning">add book database</a>

                  </div>
                </div>
              </div>
            </div>

<!-- CHART 2 VIZ. END   -->
