

{% load static %}

<!--- COUNTER VIZ.  -->

<!--- welcome message for admin-->

<!--- welcome message for admin-->

  <div class="col-12 col-sm-6 col-lg-6">
                <div class="card" id="mycard-dimiss">
                  <div class="card-header">
                    <h4>Hi, welcome back!</h4>
                    <div class="card-header-action">
                      <a data-dismiss="#mycard-dimiss" class="btn btn-icon btn-secondary" href="#"><i
                          class="fas fa-times"></i></a>
                    </div>
                  </div>
                  <div class="card-body">
                     <div class="welcome-message">
              <h2> {{ student_name }}</h2>
              <p>Here's what's happening with your Vunaweb plus today.</p>
            </div>
                  </div>
                </div>

            </div>
<!--- welcome message for admin ends-->
<div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15">TOTAL MATERIALS </h5>
                    <h2 class="mb-3 font-18">258</h2>
                    <p class="mb-0"><span class="col-green">10%</span> Increase</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/books.avif' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15"> H-INDEX </h5>
                    <h2 class="mb-3 font-18">10</h2>
                    <p class="mb-0"><span class="col-orange">09%</span> Decrease</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/hindex.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15"> JOURNALS </h5>
                    <h2 class="mb-3 font-18">128</h2>
                    <p class="mb-0"><span class="col-green">18%</span> Increase</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/journals.webp' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15"> DOWNLOADS </h5>
                    <h2 class="mb-3 font-18">400</h2>
                    <p class="mb-0"><span class="col-green">42%</span> Increase</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/downloads.jpg' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="row">
       <div class="col-lg-8">

  <div class="card">
    <div class="card-header">
      <h4>Top Veritas Researcher  </h4>
        <!-- ADD A MODAL TO ADD A TASK -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicModal"> create a research collaboration </button>


    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped" id="table-1">
          <thead>
            <tr>
              <th class="text-center">#</th>

                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Department</th>
                                <th>Position</th>
                                <th>Phone</th>
                                <th>Prefix</th>

                                <th>Interest</th>

                                <!--- action to delete and update -->
                                <th>Action </th>
            </tr>
          </thead>
          <tbody>
           {% for row in academic_staff %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ row.academic_staff_fname }}</td>
                        <td>{{ row.academic_staff_lname }}</td>
                        <td>{{ row.academic_staff_email }}</td>
                        <td>{{ row.academic_staff_dept }}</td>
                        <td>{{ row.academic_staff_position }}</td>
                        <td>{{ row.academic_staff_phone }}</td>
                        <td>{{ row.academic_staff_prefix }}</td>
                        <td>{{ row.academic_staff_interest }}</td>

                        <td>
                            <a href="{% url 'admin_manage_staff_update' row.academic_staff_id %}" class="btn btn-success">collaborate</a>

                    </tr>
                    {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



           <!-- TRENDING BOOKS AND JOURNALS -->
              <div class="col-4 col-sm-4 col-xs-6">

                <div class="card">

              <div class="card-body ">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          {% load static %}
          <img class="d-block w-100" src="{% static 'assets/img/blackmanreader.avif' %}" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>First Slide</h5>
            <p>Description for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          {% load static %}
          <img class="d-block w-100" src="{% static 'assets/img/blackreader.jpg' %}" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second Slide</h5>
            <p>Description for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          {% load static %}
          <img class="d-block w-100" src="{% static 'assets/img/blackreaader3.avif' %}" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third Slide</h5>
            <p>Description for the third slide.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

              </div>


        </div>



    </div>


<!--COUNTER VIZ. END   -->

<!--- RECOMMENDED BOOKS AND JOURNALS  -->
{% include 'includes/open_databases/openaccess.html' %}
<!--- RECOMMENDED BOOKS ADDED AND JOURNALS  -->

<!-- RECENT  BOOKS READ.  -->


