{% load static %}

<!-- ADMIN LEFT SIDE NAVBAR -->

      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
          <a href="admin_dashboard.html">
  <img alt="image" src="{% static 'assets/img/logo.png' %}" class="header-logo" />
  <span class="logo-name">vunaweb  </span>
</a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown active">
           <a href="{% url 'admin_dashboard' %}" class="nav-link">
  <i data-feather="monitor"></i>
  <span>Dashboard</span>
</a>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="briefcase"></i><span>User management </span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'add_users' %}">Add users(students, faculty, staff)</a></li>
                        <li><a class="nav-link" href="{% url 'approve_requests' %}">Approve requests</a></li>
                        <li><a class="nav-link" href="{% url 'manage_staff_users' %}">Manage user roles</a></li>
                        <li><a class="nav-link" href="{% url 'find_staff_profile' %}">create staff profile</a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Content Management</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'upload_materials' %}">Upload Digital Resources</a></li>
                <li><a class="nav-link" href="{% url 'upload_materials' %}">manage Resources</a></li>
                <li><a class="nav-link" href="portfolio.html">Review Content Submissions</a></li>
                <li><a class="nav-link" href="blog.html">Create and Manage Content Categories</a></li>

              </ul>
            </li>

               <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>book store</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'book_store_upload' %}">Upload new books</a></li>
                <li><a class="nav-link" href="{% url 'upload_materials' %}">orders</a></li>
                   <li><a class="nav-link" href="{% url 'book_store' %}">view books</a></li>
                <li><a class="nav-link" href="portfolio.html">inventory</a></li>


              </ul>
            </li>
                <li class="menu-header"> physical library </li>
                  <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="monitor"></i><span>Book Borrow </span></a>
              <ul class="dropdown-menu">
              <li><a class="nav-link" href="{% url 'physical_library_register_material' %}">register new books</a></li>
                <li><a class="nav-link" href="card.html"> borrow records</a> </li>
                <li><a class="nav-link" href="modal.html"> analysis </a></li>


              </ul>
            </li>

            <li class="menu-header">SECONDARY </li>
                  <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="monitor"></i><span>AI Assistant</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="avatar.html">summarizer</a></li>
                <li><a class="nav-link" href="card.html">Virtual Study Assistant</a></li>
                <li><a class="nav-link" href="modal.html"> Smart Search Engine</a></li>
                <li><a class="nav-link" href="modal.html"> Plagiarism Detector </a></li>
                <li><a class="nav-link" href="modal.html"> Accessibility Tools</a></li>

              </ul>
            </li>




          </ul>
        </aside>
      </div>
<!--ADMIN LEFT NAVBAR ENDS-->