
{% extends "admin_base.html" %}
{% load static %}
{% block title %} upload materials {% endblock %}

{% block content %}
  <div class="card col-lg-6 mb-4">
  <div class="card-header">
    <h4>  </h4>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li class="media">
        <img class="mr-3" src="{% static 'assets/img/image-64.png' %}" alt="Generic placeholder image">
        <div class="media-body">
          <h1 class="mt-0 mb-1">Upload video content  </h1>
          <p class="pt-3">Description: Digital versions of traditional books that can be read on devices like tablets, smartphones, or eReaders.
Use Case: Useful for extended reading on various topics, ranging from academic
            textbooks to fiction and non-fiction works.</p>

        </div>
      </li>
    </ul>


          <div class="col-sm-12  col-md-10  col-lg-10 col-xl-10 ">

            <div class="card card-primary">
              <div class="card-header">

              </div>

              <div class="card-body">
             <form method="POST" id="video_upload_form" action="/upload_video/" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="video_title">Video Title</label>
        <input id="video_title" type="text" class="form-control" name="video_title" required>
    </div>
    <div class="form-group">
        <label for="video_description">Description</label>
        <textarea id="video_description" class="form-control" name="video_description" rows="3" required></textarea>
    </div>
    <div class="form-group">
        <label for="video_file">Upload Video</label>
        <input id="video_file" type="file" class="form-control" name="video_file" accept="video/*" required>
    </div>
    <div class="form-group">
        <label for="video_tags">Tags</label>
        <select id="video_tags" class="form-control h-75" name="video_tags" multiple required>
            <option value="Science">Science</option>
            <option value="Technology">Technology</option>
            <option value="Engineering">Engineering</option>
            <option value="Mathematics">Mathematics</option>
            <option value="Education">Education</option>
            <option value="Business">Business</option>
            <option value="Arts">Arts</option>
            <option value="Humanities">Humanities</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Upload Video</button>
    </div>
</form>
              </div>
              <div class="mb-4 text-muted text-center">
                ADD MULTIPLE STAFF ? <a href="{% url 'upload_students_records' %}">UPLOAD STAFF FILE </a>
              </div>
            </div>
          </div>
        </div>

</div>







  <div class="settingSidebar">
    <a href="javascript:void(0)" class="settingPanelToggle">
      <i class="fa fa-spin fa-cog"></i>
    </a>
    <div class="settingSidebar-body ps-container ps-theme-default">
      <div class="fade show active">
        <div class="setting-panel-header">Setting Panel</div>
        <div class="p-15 border-bottom">
          <h6 class="font-medium m-b-10">Select Layout</h6>
          <div class="selectgroup layout-color w-50">
            <label class="selectgroup-item">
              <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
              <span class="selectgroup-button">Light</span>
            </label>
            <label class="selectgroup-item">
              <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
              <span class="selectgroup-button">Dark</span>
            </label>
          </div>
        </div>
        <div class="p-15 border-bottom">
          <h6 class="font-medium m-b-10">Sidebar Color</h6>
          <div class="selectgroup selectgroup-pills sidebar-color">
            <label class="selectgroup-item">
              <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
              <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip" data-original-title="Light Sidebar">
                <i class="fas fa-sun"></i>
              </span>
            </label>
            <label class="selectgroup-item">
              <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
              <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip" data-original-title="Dark Sidebar">
                <i class="fas fa-moon"></i>
              </span>
            </label>
          </div>
        </div>
        <div class="p-15 border-bottom">
          <h6 class="font-medium m-b-10">Color Theme</h6>
          <div class="theme-setting-options">
            <ul class="choose-theme list-unstyled mb-0">
              <li title="white" class="active">
                <div class="white"></div>
              </li>
              <li title="cyan">
                <div class="cyan"></div>
              </li>
              <li title="black">
                <div class="black"></div>
              </li>
              <li title="purple">
                <div class="purple"></div>
              </li>
              <li title="orange">
                <div class="orange"></div>
              </li>
              <li title="green">
                <div class="green"></div>
              </li>
              <li title="red">
                <div class="red"></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="p-15 border-bottom">
          <div class="theme-setting-options">
            <label class="m-b-0">
              <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="mini_sidebar_setting">
              <span class="custom-switch-indicator"></span>
              <span class="control-label p-l-10">Mini Sidebar</span>
            </label>
          </div>
        </div>
        <div class="p-15 border-bottom">
          <div class="theme-setting-options">
            <label class="m-b-0">
              <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="sticky_header_setting">
              <span class="custom-switch-indicator"></span>
              <span class="control-label p-l-10">Sticky Header</span>
            </label>
          </div>
        </div>
        <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
          <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
            <i class="fas fa-undo"></i> Restore Default
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
