
{% extends "admin_base.html" %}
{% load static %}
{% block title %}admin dashboard real {% endblock %}

{% block content %}
<section class="section">
 {% include 'includes/dashboard_analytics/dashboard_data_viz.html' %}


      <div class="row">
       <div class="col-lg-8">

  <div class="card">
    <div class="card-header">
      <h4>Top Veritas Researcher  </h4>
        <!-- ADD A MODAL TO ADD A TASK -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicModal"> create a research collaboration </button>


    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped" id="table-1">
          <thead>
            <tr>
              <th class="text-center">#</th>

                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Department</th>
                                <th>Position</th>
                                <th>Phone</th>
                                <th>Prefix</th>

                                <th>Interest</th>

                                <!--- action to delete and update -->
                                <th>Action </th>
            </tr>
          </thead>
          <tbody>
           {% for row in academic_staff %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ row.academic_staff_fname }}</td>
                        <td>{{ row.academic_staff_lname }}</td>
                        <td>{{ row.academic_staff_email }}</td>
                        <td>{{ row.academic_staff_dept }}</td>
                        <td>{{ row.academic_staff_position }}</td>
                        <td>{{ row.academic_staff_phone }}</td>
                        <td>{{ row.academic_staff_prefix }}</td>
                        <td>{{ row.academic_staff_interest }}</td>

                        <td>
                            <a href="{% url 'admin_manage_staff_update' row.academic_staff_id %}" class="btn btn-success">collaborate</a>

                    </tr>
                    {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
      </div>      </section>
                    {% endblock %}

{% block scripts %}

<!-- General JS Scripts -->
<script src="{% static 'assets/js/app.min.js' %}"></script>
<!-- JS Libraries -->
<script src="{% static 'assets/bundles/amcharts4/core.js' %}"></script>
<script src="{% static 'assets/bundles/amcharts4/charts.js' %}"></script>
<script src="{% static 'assets/bundles/amcharts4/animated.js' %}"></script>
<script src="{% static 'assets/bundles/amcharts4/worldLow.js' %}"></script>
<script src="{% static 'assets/bundles/amcharts4/maps.js' %}"></script>
<!-- Page Specific JS File -->
<script src="{% static 'assets/js/page/chart-amchart.js' %}"></script>
<!-- Template JS File -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
<!-- Custom JS File -->
<script src="{% static 'assets/js/custom.js' %}"></script>
{% endblock %}





