<!-- AI RECOMMENDED BOOKS -->
{% load static %}
<div class="row">
    <!--header sec -->
    <div class="col-12">
        <div class="section-title">
            <h2>Recommended Books</h2>
        </div>
    </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                <article class="article ">
                  <div class="article-header">
                    <div class="article-image " data-background="{% static 'assets/img/books/ai.jpg' %}"></div>
                    <div class="article-title">
                      <h2><a href="#">AI UNIVERSE </a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                      <!-- brief desc ; author , year published , tags uploaded date all in a list form  with icons-->
                    <style>
  .no-bullets {
    list-style-type: none;
    padding: 0;
  }
</style>

<div class="article-meta">
  <ul class="no-bullets">
      <li><i class="fas fa-user"></i> Author: John Doe</li>
      <li><i class="fas fa-calendar-alt"></i> Year Published: 2021</li>
      <li><i class="fas fa-tags"></i> Tags: AI, Machine Learning</li>
      <li><i class="fas fa-calendar-alt"></i> Uploaded Date: 2021-09-01</li>
  </ul>
</div>

                    <p>A don't spirit gathered two under, lights said. </p>
                    <div class="article-cta">
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                <article class="article">
                  <div class="article-header">
                   <div class="article-image" data-background="{% static 'assets/img/books/biochem.jpg' %}">
</div>
                    <div class="article-title">
                      <h2><a href="#">BIO CHEMISTRY STRUCTURES </a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                       <div class="article-meta">
                          <ul class="no-bullets
                            ">
                                <li><i class="fas fa-user"></i> Author: John Doe</li>
                                <li><i class="fas fa-calendar-alt"></i> Year Published: 2021</li>
                                <li><i class="fas fa-tags"></i> Tags: AI, Machine Learning</li>
                                <li><i class="fas fa-calendar-alt"></i> Uploaded Date: 2021-09-01</li>
                            </ul>
                        </div>
                    <p>A don't spirit gathered two under, lights said.</p>
                    <div class="article-cta">
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                <article class="article">
                  <div class="article-header">
                   <div class="article-image" data-background="{% static 'assets/img/books/outerspace.png' %}">
</div>
                    <div class="article-title">
                      <h2><a href="#">PHYSICS OUTERSPACE </a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                      <!-- brief desc ; author , year published , tags uploaded date all in a list form  with icons-->

                      <div class="article-meta">
                          <ul class="no-bullets
                            ">
                                <li><i class="fas fa-user"></i> Author: John Doe</li>
                                <li><i class="fas fa-calendar-alt"></i> Year Published: 2021</li>
                                <li><i class="fas fa-tags"></i> Tags: AI, Machine Learning</li>
                                <li><i class="fas fa-calendar-alt"></i> Uploaded Date: 2021-09-01</li>
                            </ul>
                        </div>

                    <p>A don't spirit gathered two under, lights said. </p>
                    <div class="article-cta">
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                <article class="article">
                  <div class="article-header">
                <div class="article-image" data-background="{% static 'assets/img/books/polsci.jpg' %}">
</div>
                    <div class="article-title">
                      <h2><a href="#">POLITICAL SCI FOUNDATION </a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                       <div class="article-meta">
                          <ul class="no-bullets
                            ">
                                <li><i class="fas fa-user"></i> Author: John Doe</li>
                                <li><i class="fas fa-calendar-alt"></i> Year Published: 2021</li>
                                <li><i class="fas fa-tags"></i> Tags: AI, Machine Learning</li>
                                <li><i class="fas fa-calendar-alt"></i> Uploaded Date: 2021-09-01</li>
                            </ul>
                        </div>
                    <p>A don't spirit gathered two under, lights said. </p>
                    <div class="article-cta">
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                </article>
              </div>

     <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                <article class="article">
                  <div class="article-header">
                    <div class="article-image" data-background="{% static 'assets/img/books/ai.jpg' %}"></div>
                    <div class="article-title">
                      <h2><a href="#">The oddest place you will find photo studios</a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                       <div class="article-meta">
                          <ul class="no-bullets
                            ">
                                <li><i class="fas fa-user"></i> Author: John Doe</li>
                                <li><i class="fas fa-calendar-alt"></i> Year Published: 2021</li>
                                <li><i class="fas fa-tags"></i> Tags: AI, Machine Learning</li>
                                <li><i class="fas fa-calendar-alt"></i> Uploaded Date: 2021-09-01</li>
                            </ul>
                        </div>
                    <p>A don't spirit gathered two under, lights said. </p>
                    <div class="article-cta">
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                <article class="article">
                  <div class="article-header">
                   <div class="article-image" data-background="{% static 'assets/img/books/biochem.jpg' %}">
</div>
                    <div class="article-title">
                         <div class="article-meta">
                          <ul class="no-bullets
                            ">
                                <li><i class="fas fa-user"></i> Author: John Doe</li>
                                <li><i class="fas fa-calendar-alt"></i> Year Published: 2021</li>
                                <li><i class="fas fa-tags"></i> Tags: AI, Machine Learning</li>
                                <li><i class="fas fa-calendar-alt"></i> Uploaded Date: 2021-09-01</li>
                            </ul>
                        </div>
                      <h2><a href="#">The oddest place you will find photo studios</a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                       <div class="article-meta">
                          <ul class="no-bullets
                            ">
                                <li><i class="fas fa-user"></i> Author: John Doe</li>
                                <li><i class="fas fa-calendar-alt"></i> Year Published: 2021</li>
                                <li><i class="fas fa-tags"></i> Tags: AI, Machine Learning</li>
                                <li><i class="fas fa-calendar-alt"></i> Uploaded Date: 2021-09-01</li>
                            </ul>
                        </div>
                    <p> A don't spirit gathered two under, lights said. </p>
                    <div class="article-cta">
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                </article>
              </div>
            </div>