

    {% if databases %}
        {% for database in databases %}
            <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                <article class="article">
                    <div class="article-header">
                        <div class="article-image" style="background-image: url('media/{{ database.database_cover_image }}');"></div>
                        <div class="article-title">
                            <h2><a href="#">{{ database.database_title }}</a></h2>
                        </div>
                    </div>
                    <div class="article-details">
                        <div class="article-meta">
                            <ul class="no-bullets">
                                <li><i class="fas fa-tags"></i> : {{ database.database_genre }}</li>
                            </ul>
                        </div>
                        <p>{{ database.database_description|truncatewords:20 }}</p>
                        <div class="article-cta">
                            <a href="{{ database.database_URL }}" class="btn btn-success" target="_blank">View</a>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-center">No open access databases available.</p>
    {% endif %}