{% extends "search/search_base_template.html" %}
{% load static %}
{% block title %}search index{% endblock %}

{% block content %}
      <div class="row">
       <div class="col-12 col-md-6 col-lg-8">
                <div class="card">
                  <div class="card-header">
                    <h1 class="fs-1 "> All resources  </h1>
                  </div>
                  <div class="card-body">
                    <div class="media">
                     <img class="mr-3" src="{% static 'assets/img/image-64.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="mt-0 text-info"></h5>
                        <p class="mb-0 ">The library offers a wide range of resources to help you with your studies, research, and teaching. You can use the library to:</p>
<ul>
    <li>Search for books, articles, and other materials</li>
    <li>Access online resources</li>
    <li>Get help with research</li>
    <li>Find out about library services and facilities</li>
</ul>

.</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

      </div>


               <!-- ASK A LIBARIAN CHATBOT -->


        </div>
      <div class="col-lg-12">

  <div class="card">
    <div class="card-header">
      <h4>Resources </h4>
        <!-- ADD A MODAL TO ADD A TASK -->

    </div>
    <div class="card-body">
            <div class="row pb-5">

    <!-- book section header  -->

      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15">Open public books   </h5>
                    <h2 class="mb-3 font-18"></h2>
                      <p> </p>

                      <a href="{% url 'staff_public_books' %}" class="btn btn-success">view </a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/repo1.png' %}" width="100px" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15"> library books  </h5>
                    <h2 class="mb-3 font-18"></h2>
                      <p>   </p>

                        <a href="{% url 'staff_private_books' %}" class="btn btn-success">view </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/books.avif' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15"> Book shop </h5>
                    <h2 class="mb-3 font-18"></h2>

                      <p> </p>
                      <a href="{% url 'book_store' %}" class="btn btn-success">view </a>

                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/journals.webp' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15"> Newspaper </h5>
                    <h2 class="mb-3 font-18"></h2>
                      <p>  </p>

                        <a href="{% url 'newspapers' %}" class="btn btn-success">view </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/newspaper.jpeg' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
            <h4 class="fs-1 "> OPAC  section  </h4>
    <div class="row pb-5">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15">CORE OPAC  </h5>
                    <h2 class="mb-3 font-18"></h2>
                     <p>CORE is the world’s largest aggregator of open access </p>

                      <a href="{% url 'search_student_core_result'  %}" class="btn btn-success">search repository </a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/core.png' %}" width="100px" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15"> ARXVI OPAC </h5>
                    <h2 class="mb-3 font-18"></h2>
              <p>provides e-prints in sciences,
                  finance, and stats. </p>

                        <a href="{% url 'search_student_arxvi_index' %}" class="btn btn-success">search repository  </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/arxvi.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15"> VUA REPOSITORY  </h5>
                    <h2 class="mb-3 font-18"></h2>

                   <p>A  digital archive  of Veritas University,.</p>
                      <a href="{% url 'search_student_veritas_result' %}" class="btn btn-success">search repository </a>

                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/logo.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15">Nigeria National Repository of Nigeria </h5>
                    <h2 class="mb-3 font-18"></h2>
                <p> Apex repository of fed. republic of nigerian content. </p>
                    <a href="https://nigeriareposit.nln.gov.ng/home" class="btn btn-success">search repository</a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/nln-logo.jpg' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- see more button end of row -->
        <div class="col-12 offset-lg-5 ">
          <a href="{% url 'search_index' %}" class="btn btn-primary">see more </a>
        </div>
    </div>

        <div class="row">
    <div class="col-12">

        <h4 class="fs-1 "> Databases </h4>

    </div>

  {% if databases %}
    {% for database in databases %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-2">
            <article class="article">
                <div class="article-header">
                    <div class="article-image" style="background-image: url('{{ MEDIA_URL }}{{ database.database_cover_image }}');"></div>
                    <div class="article-title">
                        <h2><a href="#">{{ database.database_title }}</a></h2>
                    </div>
                </div>
                <div class="article-details">
                    <div class="article-meta">
                        <ul class="no-bullets">
                            <li><i class="fas fa-tags"></i> : {{ database.database_genre }}</li>
                        </ul>
                    </div>
                    <p>{{ database.database_description|truncatewords:0 }}</p>
                    <div class="article-cta">
                        <a href="{{ database.database_URL }}" class="btn btn-success" target="_blank">View</a>
                    </div>
                </div>
            </article>
        </div>
    {% endfor %}
{% else %}
    <p class="text-center">No open access databases available.</p>
{% endif %}

</div>



    </div>
  </div>
</div>

      <h4 class="fs-1 "> New & multimedia  section  </h4>
  <div class="row pb-5">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15">open course wares  </h5>
                    <h2 class="mb-3 font-18"></h2>
                      <p> </p>

                      <a href="{% url 'open_course_wares' %}" class="btn btn-success">view </a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/repo1.png' %}" width="100px" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15"> conference presentations  </h5>
                    <h2 class="mb-3 font-18"></h2>
                      <p>   </p>

                        <a href="{% url 'upload_research_materials' %}" class="btn btn-success">view </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/repo2.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15"> inuagural lectures  </h5>
                    <h2 class="mb-3 font-18">128</h2>

                      <p> </p>
                      <a href="{% url 'upload_research_materials' %}" class="btn btn-success">view </a>

                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/repo3.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15"> Newspaper</h5>
                    <h2 class="mb-3 font-18">400</h2>
                      <p>  </p>

                        <a href="{% url 'upload_research_materials' %}" class="btn btn-success">view </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/repo4.webp' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}