{% extends "search/search_base_template.html" %}
{% load static %}
{% block title %}search index{% endblock %}

{% block content %}
     <div class="section-header">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h1 class="fs-1">Research Materials</h1>
            </div>
            <div class="card-body">
                <div class="media">
                    <img class="mr-3" src="{% static 'assets/img/image-64.png' %}" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 text-info">About</h5>
                        <p class="mb-0">
                            The eLibrary organizes its book collection into various categories based
                            on the faculties they belong to. This categorization helps users easily find
                            books related to their field of study or interest. Below are the faculties and their associated book categories:
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>{{ journal.journal_material_title }}</h2>
        </div>
        <div class="card-body">
            <p><strong>Author(s):</strong> {{ journal.journal_material_author }}</p>
            <p><strong>Research Type:</strong> {{ journal.journal_material_type }}</p>
            <p><strong>Publication Date:</strong> {{ journal.journal_pub_date }}</p>
            <p><strong>Abstract:</strong> {{ journal.journal_material_abstract }}</p>

            {% if journal.journal_material_file %}
    <a href="{{ journal.journal_material_file.url }}" class="btn btn-success">Download PDF</a>
{% endif %}


           <a href="{% url 'vua_repository' %}" class="btn btn-primary">Back to List</a>
        </div>
    </div>
</div>




{% endblock %}