
<!-- admin_manage_staff_delete.html -->
{% extends "admin_base.html" %}
{% load static %}
{% block title %}Delete Academic Staff{% endblock %}

{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Delete Academic Staff</h4>
                        </div>
                        <div class="card-body">
                            <p>Are you sure you want to delete {{ staff.academic_staff_fname }} {{ staff.academic_staff_lname }}?</p>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                               <a href="{% url 'manage_staff_users' %}" class="btn btn-secondary">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}