{% load static %}
  <section class="section-padding section-bg" id="section_2">
                <div class="container">


                    <div class="row">

                        <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                           <img src="{% static 'frontend/images/libstudent.jpg' %}" class="custom-text-box-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="custom-text-box">
                                <h2 class="mb-2">Our Story</h2>

                                <h5 class="mb-3">An evolving Academics through digital content </h5>

                                <p class="mb-0">
                                    Our e-library is designed to evolve with the digital age, providing seamless
                                    access to the latest academic advancements, methodologies, and insights.
                                    Whether you're exploring or researching, our platform is here to support your
                                    journey. Dive into our extensive collection, download resources, and immerse yourself
                                    in a world of knowledge. Your pursuit of learning inspires us to continuously enhance and expand our offerings. With anytime, anywhere access,
                                    our e-library breaks geographical barriers, bringing a wealth of information to your fingertips..</p>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="custom-text-box mb-lg-0">
                                        <h5 class="mb-3">Our Mission</h5>

                                        <p>The University Library seeks to support and enhance the vision of the university by providing a desirable
                           learning, teaching, and recreation resource for the university community and the scholarly world</p>

                                        <ul class="custom-list mt-2">
                                            <li class="custom-list-item d-flex">
                                                <i class="bi-check custom-text-box-icon me-2"></i>
                                                Academic excellence
                                            </li>

                                            <li class="custom-list-item d-flex">
                                                <i class="bi-check custom-text-box-icon me-2"></i>
                                               innovation
                                            </li>
                                             <li class="custom-list-item d-flex">
                                                <i class="bi-check custom-text-box-icon me-2"></i>
                                               creativity
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="custom-text-box d-flex flex-wrap d-lg-block mb-lg-0">
                                        <div class="counter-thumb">
                                            <div class="d-flex">
                                                <span class="counter-number" data-from="1" data-to="2000" data-speed="1000"></span>
                                                <span class="counter-number-text">+ </span>
                                            </div>

                                            <span class="counter-text">Books & journals</span>
                                        </div>

                                        <div class="counter-thumb mt-4">
                                            <div class="d-flex">
                                                <span class="counter-number" data-from="1" data-to="100" data-speed="1000"></span>
                                                <span class="counter-number-text"></span>
                                            </div>

                                            <span class="counter-text">Databases </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>




                    {% include 'includes/frontend/libraryfeatures.html' %}



                </div>
            </section>