{% load static %}

<!-- ADMIN LEFT SIDE NAVBAR -->

      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
          <a href="admin_dashboard.html">
  <img alt="image" src="{% static 'assets/img/logo.png' %}" class="header-logo" />
  <span class="logo-name">vunaweb efg </span>
</a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown active">
           <a href="{% url 'admin_dashboard' %}" class="nav-link">
  <i data-feather="monitor"></i>
  <span>Dashboard</span>
</a>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="briefcase"></i><span>User management </span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'add_users' %}">Add users(students, faculty, staff)</a></li>
                        <li><a class="nav-link" href="{% url 'approve_requests' %}">Approve requests</a></li>
                        <li><a class="nav-link" href="{% url 'manage_user_roles' %}">Manage user roles</a></li>
                        <li><a class="nav-link" href="{% url 'handle_password_resets' %}">Handle password resets</a></li>
                        <li><a class="nav-link" href="{% url 'monitor_user_activity' %}">Monitor User Activity</a></li>
                        <li><a class="nav-link" href="{% url 'oversee_user_permissions' %}">Oversee User Permissions</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Content Management</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'upload_materials' %}">Upload Digital Resources</a></li>
                <li><a class="nav-link" href="{% url 'upload_materials' %}">manage Resources</a></li>
                <li><a class="nav-link" href="portfolio.html">Review Content Submissions</a></li>
              
              </ul>
            </li>
          
            <li class="menu-header">SECONDARY </li>
           
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="shopping-bag"></i><span>Reporting and Analytics</span></a>
         
            </li>
            <li><a class="nav-link" href="blank.html"><i data-feather="file"></i><span>Blank Page</span></a></li>

              
          </ul>
        </aside>
      </div>
<!--ADMIN LEFT NAVBAR ENDS-->