{% load static %}
<section class="section-padding" id="section_3">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center mb-4">
                            <h2>Events </h2>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">
                               <img src="{% static 'frontend/images/slide/blackreader.jpg' %}" class="custom-block-image img-fluid" alt="">
                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Graduate seminar :AI in Academic Research </h5>

                                        <p>Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito</p>

                                       <div class="progress mt-4">

                                </div>
                                <div class="event-details mt-4">

                                    <p class="mb-0">
                                        <strong>Date:</strong>
                                        12th march, 2025
                                    </p>
                                    <p class="mb-0">
                                        <strong>Time:</strong>
                                        8:00 AM - 4:00 PM
                                    <p class="mb-0">
                                        <strong>Venue:</strong>
                                        Main Auditorium
                                    </p>
                                    <p class="mb-0">
                                        <strong>Location:</strong>
                                        123 University Ave, City, Country
                                    </p>
                                </div>
                                          <div class="d-flex align-items-center my-2">
                                    <p class="mb-0">
                                        <strong>cost:</strong>
                                        free entry!
                                    </p>
                                </div>

                                                                    </div>

                                    <a href="../../../../../SOFTWARES/templatemo_581_kind_heart_charity/
                                    templatemo_581_kind_heart_charity/donate.html" class="custom-btn btn">Register</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">
                              <img src="{% static 'frontend/images/slide/blackcomp.avif' %}" class="custom-block-image img-fluid" alt="">
                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Exceptional Grants writing and Funding workshop </h5>

                                        <p>Sed leo nisl, posuere at molestie ac, suscipit auctor mauris. Etiam quis metus tempor</p>

                                         <div class="progress mt-4">

                                </div>
                                <div class="event-details mt-4">

                                    <p class="mb-0">
                                        <strong>Date:</strong>
                                        12th Feburary, 2025
                                    </p>
                                    <p class="mb-0">
                                        <strong>Time:</strong>
                                        10:00 AM - 4:00 PM
                                    </p>
                                    <p class="mb-0">
                                        <strong>Venue:</strong>
                                        Main library building
                                    </p>
                                    <p class="mb-0">
                                        <strong>Location:</strong>
                                        veritas University, Abuja
                                    </p>
                                </div>
                                          <div class="d-flex align-items-center my-2">
                                    <p class="mb-0">
                                        <strong>cost:</strong>
                                        free entry!
                                    </p>
                                </div>

                                    </div>

                                    <a href="../../../../../SOFTWARES/templatemo_581_kind_heart_charity/templatemo_581_kind_heart_charity/donate.html" class="custom-btn btn">Donate now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="custom-block-wrap">
                              <img src="{% static 'frontend/images/slide/blackconfused2.jpg' %}" class="custom-block-image img-fluid" alt="">
                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Effective Thesis writing in 21st century </h5>

                                        <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>

                                          <div class="progress mt-4">

                                </div>
                                <div class="event-details mt-4">
                                    <p class="mb-0">
                                        <strong>Date:</strong>
                                        12th Feburary, 2025
                                    </p>
                                    <p class="mb-0">
                                        <strong>Time:</strong>
                                        10:00 AM - 4:00 PM
                                    </p>
                                    <p class="mb-0">
                                        <strong>Venue:</strong>
                                        MPH Auditorium
                                    </p>
                                    <p class="mb-0">
                                        <strong>Location:</strong>
                                      veritas University, Abuja
                                    </p>
                                </div>
                                          <div class="d-flex align-items-center my-2">
                                    <p class="mb-0">
                                        <strong>cost:</strong>
                                        10,000 NGN
                                    </p>
                                </div>

                                    </div>

                                    <a href="../../../../../SOFTWARES/templatemo_581_kind_heart_charity/templatemo_581_kind_heart_charity/donate.html" class="custom-btn btn">Donate now</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>