
{% load static %}
    <section class="section-padding">
                <div class="container custom-text-box">
                    <div class="row">


                        <div class="col-lg-10 col-12 text-center mx-auto ">
                            <h5 class="mb-5 ">Awesome Features  </h5>
                        </div>


                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 ">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="../../../../../SOFTWARES/templatemo_581_kind_heart_charity/templatemo_581_kind_heart_charity/donate.html" class="d-block">
                                  <img src="{% static 'frontend/images/slide/AI.png' %}" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text ">
                                        <strong> AI Recommendations</strong> </p>
                                        <p>AI-powered suggestions for books</p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="../../../../../SOFTWARES/templatemo_581_kind_heart_charity/templatemo_581_kind_heart_charity/donate.html" class="d-block">
                                 <img src="{% static 'frontend/images/books1.png' %}" style="max-height: 70px " class="featured-block-image img-fluid" alt="">
                                    <p class="featured-block-text"><strong> Wide Range of Resources:</strong> </p>

                                        <p>Access to eBooks, research papers, lecture notes, videos, and podcasts across various disciplines</p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="../../../../../SOFTWARES/templatemo_581_kind_heart_charity/templatemo_581_kind_heart_charity/donate.html" class="d-block">
                                   <img src="{% static 'frontend/images/multidevice.jpg' %}" class="featured-block-image img-fluid" style="max-height: 70px" alt="">

                                    <p class="featured-block-text"> <strong> Multi-Device Compatibility </strong></p>

                                        <p> Access the eLibrary seamlessly across desktop, tablet, and mobile devices </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="../../../../../SOFTWARES/templatemo_581_kind_heart_charity/templatemo_581_kind_heart_charity/donate.html" class="d-block">
                                  <img src="{% static 'frontend/images/download.png' %}" style="max-height: 70px" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text"><strong> Bookmarks Download </strong> </p>
                                        <p> Save favorite books, courses, or articles for quick access.</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>