{% load static %}

  <section class=" section-padding loginpath-section  "   style="max-height: 50000px" id="section_4" >

       <div class=" volunteer-section p-5">

                     <div class="container bg-white p-5 border-5 login-path">
                         <div class="container mb-3">
                             <!-- logo -->
                              <div class="col-lg-4 col-12 mb-3">
                           <img src="{% static 'assets/img/logo.png' %}" style="max-height: 450px" class="logo img-fluid" alt="">
                                   <h3 class="text-lg-left ">login </h3>
                              <h6 class="text-lg-left text-black-50">choose your user type </h6>
                </div>

                         </div>

                       <div class="row">

                           <div class="col-lg-8">
                                 <div class="row">

                            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 ">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="{% url 'student_login' %}" class="d-block">
                                  <img src="{% static 'frontend/images/students.jpg' %}" style="max-height: 80px" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text ">
                                        <strong> students </strong> </p>
                                        <p> undergraduate /post-graduate  students </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="../../../../../SOFTWARES/templatemo_581_kind_heart_charity/templatemo_581_kind_heart_charity/donate.html" class="d-block">
                                 <img src="{% static 'frontend/images/lecturer.jpg' %}" style="max-height: 70px"  class="featured-block-image img-fluid" alt="">
                                    <p class="featured-block-text"><strong> staff</strong> </p>

                                        <p>Academic / non -academic</p>
                                </a>
                            </div>
                        </div>



                     </div>
                         <div class="row">
                               <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="../../../../../SOFTWARES/templatemo_581_kind_heart_charity/templatemo_581_kind_heart_charity/donate.html" class="d-block">
                                   <img src="{% static 'frontend/images/researcher2.webp' %}" style="max-height: 70px"  class="featured-block-image img-fluid"  alt="">

                                    <p class="featured-block-text"> <strong> Researcher  </strong></p>

                                        <p> sabitical professor  </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="../../../../../SOFTWARES/templatemo_581_kind_heart_charity/templatemo_581_kind_heart_charity/donate.html" class="d-block">
                                  <img src="{% static 'frontend/images/guest.jpg' %}" style="max-height: 70px"  class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text"><strong> guest  </strong> </p>
                                        <p> casual visitation on campus.</p>
                                </a>
                            </div>
                        </div>
                         </div>

                           </div>

                           <div class="col-lg-4">

                                 <img src="{% static 'frontend/images/slide/happystudentpc.jpeg' %}" class="custom-text-box-image img-fluid" alt="">
                           </div>
                       </div>

                     </div>

                        </div>


            </section>