{% load static %}
  <section class="section-padding section-bg" id="section_2">
                <div class="container">


                    <div class="row">

                        <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                                 <div class="custom-text-box">
                                <h2 class="mb-2">   All Repository  </h2>

                                <p class="mb-0">
                                        This repository  provides simple, one-stop searching for books and e-books, videos, articles, digital media, and more.

                                       As a university eLibrary, the CORE API can be leveraged to provide seamless
                                    access to millions of Open Access (OA) research papers for students, faculty, and researchers.
                                    The goal is to enhance academic research,
                                    facilitate knowledge discovery, and support learning by integrating
                                    CORE’s vast repository into the university’s digital library.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">


                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="custom-text-box mb-lg-0">
                                        <h5 class="mb-3">Our Mission</h5>

                                        <ul class="custom-list mt-2">
                                            <li class="custom-list-item d-flex">
                                                <i class="bi-check custom-text-box-icon me-2"></i>
                                                Academic excellence
                                            </li>

                                            <li class="custom-list-item d-flex">
                                                <i class="bi-check custom-text-box-icon me-2"></i>
                                               innovation
                                            </li>
                                             <li class="custom-list-item d-flex">
                                                <i class="bi-check custom-text-box-icon me-2"></i>
                                               creativity
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="custom-text-box d-flex flex-wrap d-lg-block mb-lg-0">
                                        <div class="counter-thumb">
                                            <div class="d-flex">
                                                <span class="counter-number" data-from="1" data-to="2000" data-speed="1000"></span>
                                                <span class="counter-number-text">+ </span>
                                            </div>

                                            <span class="counter-text">Books & journals</span>
                                        </div>

                                        <div class="counter-thumb mt-4">
                                            <div class="d-flex">
                                                <span class="counter-number" data-from="1" data-to="100" data-speed="1000"></span>
                                                <span class="counter-number-text"></span>
                                            </div>

                                            <span class="counter-text">Databases </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    {% include 'includes/frontend/repo_types.html' %}

                </div>
            </section>
